:root {
  --ff: 'Poppins', sans-serif;

  --white: #ffffff;
  --black: #000000;
  --accent: #2bc968;
  --text: #8b8b8b;

  --light: #e2e2e2;
  --bg-light: #f8f8f8;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi: 600;
  --fw-bold: 700;
  --fw-extra: 800;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: var(--ff);
  color: var(--text);
}

h1,
h2,
h3 {
  white-space: balance;
}

/* Components */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  text-transform: uppercase;
  font-weight: var(--fw-medium);
  text-decoration: none;
  padding: 1rem 2rem;
  border: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(2px);
}

.btn--dark {
  background-color: var(--black);
  color: var(--white);
}

.btn--buy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--accent);
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.1rem 1.4rem 0.1rem 0;
}

.btn--buy-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  overflow: hidden;
}

.btn--buy i[class^="fa"] {
  color: var(--accent);
  background-color: var(--white);
  font-size: 1.3rem;
  padding: 0.8rem 1rem 1rem;
}

.heading {
  font-size: clamp(3.5rem, 5vw, 4rem);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
  color: var(--black);
}

/* header */
.header {
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: var(--white);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: var(--fw-medium);
  color: var(--black);
  text-transform: capitalize;
}

.nav__link {
  color: var(--black);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: var(--fw-medium);
  margin-right: 40px;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--accent);
}

.nav__link:last-child {
  margin-right: 0;

}

.nav__link::after {
  content: "/";
  margin-left: 40px;
}

.nav__link:last-child::after {
  content: " ";
  margin-left: 0;
}

.nav__link:hover::after {
  color: var(--black);
}

.header-cta__border {
  border: 2px solid var(--black);
  padding: 0.6rem 1.2rem;
  text-transform: capitalize;
  text-decoration: none;
  color: var(black);
  border-radius: 6px;
  margin-right: 15px;

}

.header-cta__border:visited {
  color: var(--black);
}

.header-cta__shade {
  padding: 0.6rem;
  background: var(--black);
  color: var(--white);
  border-radius: 5px;
}

.header-cta__shade i[class^="fa"] {
  color: var(--black);
  background: var(--white);
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 50%;
}

.menu {
  width: 30px;
  cursor: pointer;
  display: none;
}

.menu i[class^="fa"] {
  font-size: 1.7rem;
  color: var(--black);
  display: inline-block;
}

/* Start Hero Section */
.hero {
  padding: 3rem 0;
}

.hero .container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: "text image";
  grid-template-columns: 40% auto;
}

.hero-text {
  grid-area: text;
}

.hero-image {
  grid-area: image;
}

.hero-image img {
  border-radius: 60px;
}

.hero-text__title {
  color: var(--black);
  font-size: clamp(2.8rem, 9vw, 3.8rem);
  line-height: 1;
  text-transform: capitalize;
  font-weight: var(--fw-medium);
  margin-bottom: 40px;
}

.hero-text__desc {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-btns {
  margin-bottom: 55px;
  width: 100%;
}

.hero-btns .btn--dark {
  margin-right: 40px;
}

.hero__testimonial {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 80%;
}

.hero__testimonial i[class^="fa"] {
  font-size: 3.5rem;
  color: var(--accent);
  margin-right: 20px;
}

.hero__testimonial-text {
  font-size: 0.9rem;
  color: var(--text);
  white-space: balance;
}

.hero-image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Call to Action  */
.cta {
  padding-bottom: 4rem;
}

.cta .container {
  display: flex;
  flex-direction: column;
}

.cta__img {
  width: 30%;
  display: block;
  position: relative;
  left: -10%;
  top: 0;
}

.cta-banner {
  background: var(--black);
  color: var(--white);
  padding: 3rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  border-radius: 20px;
}

.cta__title {
  font-size: clamp(2.5rem, 5vw, 2.8rem);
  width: 45%;
  flex-grow: 1;
  text-transform: capitalize;
  font-weight: var(--fw-medium);
  line-height: 1.3;
}

.cta__desc {
  max-width: 35%;
  opacity: 0.75;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.cta__btn {
  background: var(--accent);
  border-radius: 50%;
  color: inherit;

}

.cta__btn i[class^="fa"] {
  font-size: 3rem;
  padding: 2rem;
}

/* Start Products */
.products {
  padding: 5rem 0;
}

.products .heading {
  text-align: center;
  margin-bottom: 5rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem 2rem;
  justify-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 550px;
  color: var(--black);
  max-width: 400px;
}

.product__img {

  width: auto;
  height: auto;
  object-fit: cover;
  display: block;
}

.product__img.sweater {
  height: 510px;
  width: auto;
}

.product__img.blouse {
  height: 425px;
  width: auto;
}

.product__img.shirt {
  height: 405px;
  width: auto;
}

.products__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 15px;
}

.product__desc {
  opacity: .65;
  text-align: center;
  line-height: 1.6;
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
  max-width: 350px;
}

.product__price {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.product__price-btn {
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.product__price-btn:hover {
  color: var(--accent);
}

.product__price-btn::after {
  content: "|";
  margin-left: 68px;
}

.product__price-btn:hover::after {
  color: var(--black);
}

.product__price-qty {
  font-weight: var(--fw-semi);
}

/* About us */
.about {
  padding: 5rem 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem 3rem;
}

.about__image {
  flex-basis: 60%;
  flex-grow: 1;
}

.about__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about__text {
  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 0;
}

.about .heading {
  margin-bottom: 2rem;
}

.about__description {
  font-size: 1rem;
  line-height: 1.6;
}

.about__description:first-of-type {
  margin-bottom: 1rem;
}

.about__description:nth-of-type(2) {
  margin-bottom: 2.5rem;
}

/* Partners Section */
.partners {
  padding: 5rem 0;
  display: none;
}

.partners .heading {
  text-align: center;
  margin-bottom: 3rem;
}

.partners__grid {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  row-gap: 1rem;
  justify-content: center;
}

.partners__grid img {
  height: 40px;
  width: auto;
  margin-right: 20px;
  object-fit: cover;
}

.partners__grid img:last-child {
  margin-right: 0;
}

/* Start Testimonials */

.testimonials {
  padding: 5rem 0 20rem;
}

.testimonials .container {
  text-align: center;
}

.testimonials .subheading {
  margin: 1rem 0 3rem;
}

.testimonial-slider {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 1.5rem;

  /* functionality */
  overflow: hidden;
}

.testimonial-card {
  flex-shrink: 0;
  max-width: 550px;
  min-width: 300px;
  min-height: 320px;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  /*    x-offset | y-offset | blur | spread | color */
  box-shadow: 2px 0px 50px 10px rgba(120, 120, 120, 0.1);

  /* functionality */
  box-shadow: 2px 2px 5px 1px rgba(120, 120, 120, 0.08);
}

.testimonial-card__img {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 1rem 0;
  object-fit: cover;
}

.testimonial-card__name {
  margin-bottom: 1rem;
  color: var(--black);
  font-size: 1.4rem;
  font-weight: var(--fw-bold);
}

.testimonial-card__desc {
  margin-bottom: 1rem;
  font-size: 0.95rem;
  line-height: 1.6;
}

.testimonial-btns {
  height: 50px;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  /* functionality */
  display: none;
}

.testimonial-btn {
  border: 1.5px solid var(--accent);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonial-btn.active {
  background: var(--accent);
}

.owl-dots {
  text-align: center;
  margin-top: 50px;
}

.owl-dots button {
  background: var(--accent) !important;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  margin: 0 5px;
  transition: 0.3s ease-in-out;

}

.owl-dots button.active {
  width: 30px;
}

/* Start: Footer */
.footer {
  padding-top: 0;
  background: var(--black);
  color: var(--white);
}

.footer .container {
  display: grid;
  grid-template-areas: "newsletter" "content";
}

.newsletter {
  grid-area: newsletter;
  background: var(--white);
  color: var(--black);
  border-radius: 20px;
  padding: 4.5rem 2rem;


  display: grid;
  grid-template-areas: "news-text news-form";
  grid-template-columns: 45% 55%;
  align-items: center;
  row-gap: 2rem;

  position: relative;
  top: 0;
  transform: translateY(-50%);
  box-shadow: 2px 0px 50px 10px rgba(120, 120, 120, 0.1);
}

.newsletter__text {
  grid-area: news-text;
}

.newsletter .heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: var(--fw-semi);
  letter-spacing: 0.5px;

}

.newsletter .subheading {
  color: var(--black);
  opacity: 0.66;
  font-size: 0.9rem;
  font-weight: var(--fw-medium);
}

.newsletter__form {
  grid-area: news-form;
  width: auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.newsletter__form input[type="email"] {
  max-width: 300px;
  width: 100%;
  margin-right: 2rem;
  padding: 0.85rem 0.7rem;
  font-size: 1.2rem;
  border: none;
  outline: 1.2px solid var(--light);
  background: var(--bg-light);
  border-radius: 5px;
}

.newsletter__form input[type="email"]:focus {
  outline: 2px solid var(--accent);
}

::placeholder {
  color: var(--black);
  opacity: 0.66;
}

.footer-content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem
}

.footer-content__main .logo {
  color: var(--accent);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.footer-content__main .desc {
  opacity: 0.85;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.footer .social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer .social a {
  margin-right: 25px;
}

.footer .social a:last-child {
  margin-right: 0px;
}

.footer .social i[class^="fa"] {
  font-size: 1.2rem;
  color: var(--accent);
  transition: color 0.3s, transform 0.3s ease-in-out;
}

.footer .social a:hover i[class^="fa"] {
  color: var(--white);
  transform: translateY(3px);
}

.footer-content__site,
.footer-content__policy,
.footer-content__other {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 1rem;
}

.footer-content__link {
  text-decoration: none;
  color: inherit;
  opacity: 0.85;
  text-transform: capitalize;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.footer-content__link:hover {
  color: var(--accent);
  text-decoration: underline;
  transform: translateX(15px);
}

.copyright {
  padding: 4.5rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: var(--white);
  opacity: 0.55;
}

.copyright a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.copyright a:hover {
  color: var(--accent);
}


/* media queries */

@media only screen and (max-width: 1182px) {

  .hero-image {
    align-self: start;
  }

  .testimonial-card {
    display: none;
  }

  .testimonial-card:first-child {
    display: flex;
  }






}


@media only screen and (max-width: 960px) {

  /* header */
  .header .container {
    justify-content: flex-end;
  }

  .header-cta {
    margin-right: 40px;
  }

  .logo {
    margin-right: auto;
  }

  .menu {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    background-color: #2bc968;

    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  .nav-open .nav {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
  }

  .nav__link {
    display: block;
    width: 100%;
    margin: 2rem 0 0;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--black);
    transition: color 0.3s ease-in-out;
  }

  .nav__link:hover {
    color: var(--white);
  }

  .nav__link::after {
    display: none;
  }

  /* hero section */
  .hero .container {
    grid-template-areas: "text" "image";
    grid-template-columns: 100%;
  }

  .hero-image {
    align-self: auto;
  }

  .hero-text {
    margin-bottom: 4rem;
    max-width: 60%;
    justify-self: start;
  }

  .hero-image {
    justify-self: center;
  }

  /* cta */
  .cta-banner {
    flex-flow: row wrap;
  }

  .cta__title {
    width: 80%;
    flex-grow: 0;
  }

  .cta__desc {
    max-width: 60%;
  }

  .cta__btn i[class^="fa"] {
    font-size: 2rem;
  }

  /* about us */
  .about .container {
    flex-direction: column-reverse;
  }

  .about__image {
    flex-basis: 100%;
  }

  .about__text {
    flex-basis: 100%;
    flex-shrink: 1;
  }

  .about__description {
    max-width: 80%;
  }

  /* footer */
  .newsletter {
    grid-template-areas: "news-text" "news-form";
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .newsletter__text {
    width: 100%;
  }

  .newsletter__form {
    width: 100%;
    justify-content: start;
    align-items: center;
  }
}

/* More Media Queries */
@media only screen and (max-width: 768px) {
  .hero-text {
    max-width: 75%;
  }

  /* About section */
  .about__description {
    max-width: 100%;
  }

  /* footer */
  .newsletter {
    padding: 2rem 1rem;
    margin-bottom: -10%;
  }

  .footer-content {
    grid-template-columns: repeat(2. 1fr);
  }

  .footer-content__site,
  .footer-content__policy,
  .footer-content__other {
    align-items: flex-start;
  }

  .footer-content__main .desc {
    max-width: 75%;
    text-wrap: balance;
  }
}

@media only screen and (max-width: 650px) {

  /* footer */
  .newsletter__form {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.2rem;
  }

  .newsletter__form input[type="email"] {
    max-width: 90%;
    width: 100%;
    margin: unset;
  }

  .newsletter__form .btn--dark {
    width: 85%;
  }

}


/* More Media Queries */
@media only screen and (max-width: 600px) {
  .hero-text {
    max-width: 100%;
  }

  .btn {
    margin-bottom: 1.2rem;
  }

  .cta-banner {
    gap: 1.4rem;
    padding: 1.5rem;
  }

  .cta__title {
    width: 100%;
    flex-grow: 0;
  }

  .cta__desc {
    max-width: 77%;
  }

  .cta__btn i[class^="fa"] {
    font-size: 1rem;
    padding: 0.9rem;
  }

  .testimonial-card {
    max-width: 100%;
  }

  /* FOOTER */
  .footer-content {
    grid-template-columns: minmax(0, 1fr);
  }

  .footer-content__main .desc {
    max-width: 100%;
  }
}
